### Only for format  the raw data.

In [1]:
import pandas as pd

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

#### Load and format dataset Titanic survived dataset.

In [2]:
# laod original trainning dataset.
train_data = pd.read_csv(
    "train.csv.mnist",
    sep=r'\s*,\s*',
    quotechar="'",
    engine='python',
    index_col=False,
    na_values="?")

In [3]:
# Counting...
Target = 'label'
Labels = train_data[Target].unique()
counts = train_data[Target].value_counts()
print(counts)

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

In [4]:
# Fusion the datasets using only selected features.
final = train_data.dropna()

In [5]:
cols = final.columns.tolist()
temp = cols[1:]
temp.append(cols[0])
final = final[temp]

In [6]:
# Shuffling the data
final = final.sample(frac=1)
# Drop missing data
final = final.dropna()
# Convert to categorical features
final = final.astype('category')

In [7]:
# How much samples remaing.
Target = 'label'
Labels = final[Target].unique()
counts = final[Target].value_counts()
print(counts)

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

In [8]:
frac = 0.6
final.reset_index(inplace=True)
#train = final.loc[1:int(round(len(final.index)*frac)),:]
#test =  final.loc[int(round(len(final.index)*frac)):,:]
train = final.loc[1:1501,:]
test =  final.loc[1501:3001,:]
train.reset_index(inplace=True)
test.reset_index(inplace=True)
train = train.drop(train.columns[0:2], axis=1)
test = test.drop(test.columns[0:2], axis=1)

In [9]:
train = train.drop(train.columns[0:2], axis=1)
test = test.drop(test.columns[0:2], axis=1)

In [10]:
# Counting...

Labels = train[Target].unique()
counts = train[Target].value_counts()
print(counts)

Labels = test[Target].unique()
counts = test[Target].value_counts()
print(counts)

1    444
7    410
3    406
0    406
6    404
4    395
5    394
8    383
9    381
2    377
Name: label, dtype: int64
1    470
9    445
6    417
3    405
7    401
8    383
2    382
4    380
0    366
5    352
Name: label, dtype: int64

In [11]:
# Save the dataset in CSV.
train.to_csv('dataset.training.csv.mnist', sep=',',  encoding='ascii', decimal='.', index=False, header=False)
test.to_csv('dataset.test.csv.mnist', sep=',',  encoding='ascii', decimal='.', index=False, header=False)

In [12]:
train.head()

,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,pixel11,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [13]:
3*783/3600

0.6525