### Only for format  the raw data.

In [2]:
import pandas as pd

#### Load and format dataset Titanic survived dataset.

In [5]:
# laod original trainning dataset.
train_data = pd.read_csv(
    "winequality-white.csv",
    sep=r'\s*;\s*',
    quotechar="'",
    engine='python',
    index_col=False,
    na_values="?")

In [6]:
train_data.head()

,"""fixed acidity""","""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide""","""density""","""pH""","""sulphates""","""alcohol""","""quality"""
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [7]:
# Counting...
Target = '"quality"'
Labels = train_data[Target].unique()
counts = train_data[Target].value_counts()
print(counts)

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: "quality", dtype: int64

In [8]:
# Fusion the datasets using only selected features.
final = train_data.dropna()

In [14]:
train_data[Target].loc[train_data[Target] >8]

774     9
820     9
827     9
876     9
1605    9
Name: "quality", dtype: int64

In [9]:
# Shuffling the data
final = final.sample(frac=1)
# Drop missing data
final = final.dropna()
# Convert to categorical features
final = final.astype('category')

In [10]:
# How much samples remaing.
Labels = final[Target].unique()
counts = final[Target].value_counts()
print(counts)

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: "quality", dtype: int64

In [8]:
frac = 0.6
final.reset_index(inplace=True)
#train = final.loc[1:int(round(len(final.index)*frac)),:]
#test =  final.loc[int(round(len(final.index)*frac)):,:]
train = final.loc[1:500,:]
test =  final.loc[501:1001,:]
train.reset_index(inplace=True)
test.reset_index(inplace=True)
train = train.drop(train.columns[0:2], axis=1)
test = test.drop(test.columns[0:2], axis=1)

In [9]:
train = train.drop(train.columns[0:2], axis=1)
test = test.drop(test.columns[0:2], axis=1)

In [10]:
# Counting...

Labels = train[Target].unique()
counts = train[Target].value_counts()
print(counts)

Labels = test[Target].unique()
counts = test[Target].value_counts()
print(counts)

7    58
1    56
3    54
6    52
4    51
2    50
5    48
8    47
9    46
0    38
Name: label, dtype: int64
0    63
1    59
7    53
3    53
5    51
2    50
4    48
8    44
9    43
6    37
Name: label, dtype: int64

In [11]:
# Save the dataset in CSV.
train.to_csv('dataset.training.csv.mnist', sep=',',  encoding='ascii', decimal='.', index=False, header=False)
test.to_csv('dataset.test.csv.mnist', sep=',',  encoding='ascii', decimal='.', index=False, header=False)

In [12]:
train.head()

,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,pixel11,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3